<div class="splash_body"></div>


	<div class="image_container">
		<%= image_tag "station.png", :class => "station" %>
		<%= image_tag "station.png", :class => "station" %>
		<%= image_tag "station.png", :class => "station" %>
		<%= image_tag "station.png", :class => "station" %>
		<br />
		<%= image_tag "station.png", :class => "station" %>
		<%= image_tag "station.png", :class => "station" %>
		<%= image_tag "station.png", :class => "station" %>
		<%= image_tag "station.png", :class => "station" %>
	</div>








</div>