<div class="container">
  <% if @over_ten %>
    <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
  <h3>Conversation with <%= @conversation.sender_id != current_user.id ? User.find(@conversation.sender_id).full_name : User.find(@conversation.recipient_id).full_name %></h3>

  <div class='ui segment'>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class='item'>
          <div class='content border'>
            <div class='header'><strong><%= user.full_name %></strong> <%= message.message_time %></div>
            <div class='list'>
              <div class='item'>
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_for [@conversation, @message], html: {class: 'ui reply form'} do |f| %>
    <div class=”field”>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
    <div>
      <%= f.submit 'Add Reply', class: 'ui blue labeled submit icon button' %>
    </div>

  <% end %>
  <%= link_to "Mailbox", conversations_path, class: 'ui blue labeled submit icon button btn btn-default' %>
</div>
