<div class='ui segment'>
  <h3>Mailbox</h3>

  <div class='ui list'>
    <div class='item'>
      <table>
        <tbody>
          <% @conversations.each do |conversation| %>
            <tr>
              <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                <td class="mailbox-name"><%= conversation.recipient(current_user) %></a></td>
                <td><%= link_to conversation.recipient(current_user), conversation_messages_path(conversation)%></td>
              <% end %>
            </tr>
            <% end %>
            <%# <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td> %>
            <%# <td class="mailbox-attachment"></td> %>
            <%# <td class="mailbox-date">Sent <%= conversation.messages.last %1></td> %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class='ui segment'>
  <h3>All Users</h3>
  <div class='ui list'>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <div class='item'>
          <%= user.first_name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
