<div class="my_body"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col1">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag @profile.image, class: "user_image" %>
            <div class="caption">
            </div>
          </div>
          <%# <h3 id="current_progress"><span>Learning Progress</span></h3> %>
          <%# <div class="progress"> %>

            <%#   <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60% %>

              <%#   </div> %>
            <%# </div> %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3 id="user_name"><%= @user.full_name %></h3>
              <ul>
                <li>Location: <span><%= @user.origin %></span></li>
                <li>Age: <span><%= @user.age(@user.birthday) %></span></li>
                <li>Currently Learning: <span><%= @user.languages_studying == "None" ? "None" : @user.languages_studying.to_sentence %></span></li>
              </ul>
              <% if current_user != @user && current_user.arent_conversing(@user)  %>
                <button class="btn btn-primary message" role="button">Message <%= @user.full_name %></a></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6 col2">
      <div class="hanging"> 
        <%= image_tag "languages.png", :class => "hanging" %>
      </div>
      <iframe class="game_modal" src="/learning"></iframe>
      <div class="msg_container">
        <%= simple_form_for @message, remote: true, method: :post, url: user_message_path do |f| %>
          <%= f.input :body, label: false, autofocus: true, input_html: { 'class': 'text_area'} %>
          <%= f.button :submit, input_html: {'class': 'btn-large btn send_button'}, data: { disable_with: 'Submitting...' } %>
        <% end %>
        <asp:Button runat="server" ID="btnSaveImage" Text="Save Image" CssClass="Greengradiant btn- large" OnClick="btnSaveImage_Click" UseSubmitBehavior="false" data-dismiss="modal" />
      </div>

      <div class="display-none formbio well well-lg bio_box2">
        <%= simple_form_for @profile, remote: true, method: :post, url: user_bio_path do |f| %>
          <%= f.input :bio, label: false, autofocus: true, input_html: { 'class': 'bioinput'} %>
          <%= f.button :submit, data: { disable_with: 'Submitting...' } %>
        <% end %>
      </div>

      <div class="well well-lg bio_box"><%= @profile.bio %></div>
      <% if @user == current_user %>
        <%= button_to "Edit Bio", edit_user_bio_path, method: :put, remote: true  %>
        <button type="button" class="btn btn-success resume_game_button hvr-back-pulse" >START NEW GAME OR RESUME <br />EXISTING GAME!</button>
    </div>
  <% else %>
    <button type="button" class="btn btn-success resume_game_button hvr-back-pulse cant-see" >START NEW GAME OR RESUME <br />EXISTING GAME!</button>
  </div>
<% end %>

<div class="col-md-2 col3">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail right_col">
        <h3>People studying the same language</h3>
        <ul>
          <% @same_language.each do |user| %>
            <% if user.id != current_user.id && user.id != @user.id %>
              <li><%= link_to user_path(user) do %>
                <%= user.full_name %></li>
            <% end %>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail right_col_bottom">
        <h3>Nearby Users</h3>
        <ul>
          <% @nearby.each do |user| %>
            <% if user.id != current_user.id && user.id != @user.id %>
              <li><%= link_to user_path(user) do %>
                <%= user.full_name %></li>
            <% end %>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>


</div>
</div>
</div>
