<div id="fullscreen_bg" class="fullscreen_bg">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="text-center">Log in</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="col-md-6">
              <div class="input-group validator">
                <span class="input-group-addon"><%= icon('envelope') %></span>
                <%= f.input :email, placeholder: "E-mail", required: true, label: false %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><%= icon('key') %></span></span>
              <%= f.input :password, required: true, label: false, placeholder: "Password" %>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-actions">
                <%= f.button :submit, "Log in", class: "btn btn-md btn-primary btn-block", data: { disable_with: "Submitting..." } %>
              </div>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
